@import url('https://fonts.googleapis.com/css?family=Mina&display=swap');



body{
    font-family: Mina,serif;
    background: linear-gradient(20deg, #000000 16%, #d3d3d3 100%);
}

p{
    color: #000000;
}
.nav-link{
    color: aquamarine;
}
.navbar-nav .nav-link.active{
    color: rgb(0, 0, 0);
}
.navbar-brand img {
    width: 40px;
}
.navbar-toggler {
    background-color: darkgrey;
}
.sider {
 color: rgb(99, 99, 99);
 background: linear-gradient(20deg, #eaf773 16%, #c3c3c3 100%);
}


.card {
    
    background: linear-gradient(20deg, #ecfc79 16%, #c3c3c3 100%);
color: rgb(88, 88, 88);
}

.card a{
    text-decoration: none;
    color: rgb(95, 95, 95);
}
.slide-text
.footer-text{
    color: rgb(95, 95, 95);
margin:auto auto ;
}

footer,
.btn-primary{
   
    background: linear-gradient(20deg, #fbff00 16%, #d3d3d3 100%);

}
.media-links{
    display: flex;
    justify-content: center;
    align-items: center;
}


.call-anim{
    animation: call 2s ease 0s infinite normal forwards;
}

@keyframes call {
	0%,
	100% {
		transform: translateX(0%);
		transform-origin: 50% 50%;
	}

	15% {
		transform: translateX(-30px) rotate(-6deg);
	}

	30% {
		transform: translateX(15px) rotate(6deg);
	}

	45% {
		transform: translateX(-15px) rotate(-3.6deg);
	}

	60% {
		transform: translateX(9px) rotate(2.4deg);
	}

	75% {
		transform: translateX(-6px) rotate(-1.2deg);
	}
}


@media(max-width: 755){
    .carousel-idicators{
    display:none;
    }
}